<!-- views/landing.ejs -->
<%- include('partials/header') %>
<body>
  <div class="container-fluid text-center" style="padding-top: 80px">
    <h1>console.log(myFeelings)</h1>
    <p class="mt-4 p-5 col-5 position-sticky top-50 start-50 translate-middle">
      Just a page to help you feel more present by answering 3 reflection
      questions. Don’t worry, these answers won’t be saved permanently – it’s
      just for you to do a brain dump.
    </p>
    <a href="/questions" class="btn btn-primary btn-lg px-4 rounded-pill mt-4">
      Let’s Go
    </a>
  </div>
  <%- include('partials/footer') %>
</body>
