<!-- views/landing.ejs -->
<%- include('partials/header') %>
<body>
  <div
    class="container-fluid min-vh-100 d-flex flex-column align-items-center justify-content-center text-center p-4"
  >
    <h1>console.log(myFeelings)</h1>

    <p class="mt-4 col-12 col-sm-8 col-md-6 col-lg-5">
      Just a page to help you feel more present by answering 3 reflection
      questions. Don’t worry, these answers won’t be saved permanently.
    </p>

    <a href="/questions" class="btn btn-primary btn-lg px-4 rounded-pill mt-4">
      Let’s go
    </a>
  </div>
  <%- include('partials/footer') %>
</body>
